 :root {
     --primary-colr: rgb(83, 197, 159);
     --sicndary-colr: rgb(128, 180, 157);
     --hover-colr: rgb(110, 251, 194);
     --footer-color:rgb(23, 231, 161);
     --hover-color2: rgb(4, 113, 97);
     --projects-color:rgb(15, 185, 43);
     --header-color:rgb(10, 214, 10);

 }

 html {
   scroll-behavior: smooth;
 }
 body {
     margin: 0;
     padding: 0;
    }
    
    span{
       color: var(--primary-colr);
    }


    #mobile{
       opacity: 0;
       height: 0;
    }
  

 /* HEADER  */
 .nav {
     width: 100%;
     height: 70px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: aliceblue;
     scroll-behavior: smooth;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 10;
    

 }

 /* LOGO */
 .logo {
     font-size: 22px;
     margin-left: 12px;
     cursor: pointer;
     color: black;

 }

 .logo span {
     font-size: 24px;
     margin-left: 12px;
     color: var(--header-color);
     transition: 0.3s;

 }

 .logo span:hover {
     color: var(--hover-color2);
     transition: 0.5;
     transform: scale(0.6);
 }

 /* NAVBAR LIST*/
 .list nav ul {
     list-style: none;
     display: flex;
     align-items: center;

 }

 .list nav ul a {
     text-decoration: none;
 }
   .list nav a li:hover,
    .list  a li.active {
     text-decoration: none;
     color: var(--header-color);
    
 }

 .list nav ul li {
     margin-left: 40px;
     margin-right: 40px;
     text-decoration: none;
     font-size: 20px;
     color: black;
     transition: 0.3s;

 }

 .list nav ul li:hover {
    color: var(--header-color);
     cursor: pointer;
     transform: scale(1.1);
     border-bottom: 2px solid var(--header-color);

 }

 /*HEADER BUTTON*/
 .list nav ul button {
     margin-left: 40px;
     margin-right: 20px;
     width: 150px;
     height: 35px;
     font-size: 20px;
     color: white;
     background-color: var(--primary-colr);
     border-radius: 5px;
     border: 1px solid var(--primary-colr);
     transition: 0.5s;
     cursor: pointer;
 }

 .list nav ul button:hover {

     color: var(--primary-colr);
     background-color: aliceblue;
     border-radius: 5px;
     border: 1px solid var(--primary-colr);
     transform: translate(1.1);
 }


 /* HOME PAGE / INFORMATION / IMAGE  / SOCIAL ICONS */

 #home {
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 100vh;
     flex-wrap: wrap;
     background-image: url(./images/home_cover.png);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
    
 }
 
    


 .home_info {
     margin-left: 50px;
     margin-top: 60px;
 }

 .home_info h1 {
     color: azure;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 55px;
 }

 .home_info h1 span {
     color: rgb(4, 113, 97);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 45px;
 }

 .home_info h2 {
     color: rgb(228, 235, 233);
     padding-top: 15px;
     font-size: 35px;
 }

 .home_info p {
     color: rgb(4, 113, 97);
     padding-top: 15px;
     font-size: 22px;
 }

 .home_info p span {
     color: rgb(245, 250, 249);
     font-size: 26px;
 }

 /*SOCIAL ICONS */
 .home_info .social_icon {
     padding-top: 40px;

 }

 .home_info .social_icon a {
     padding-top: 30px;
     color: white;
     margin-right: 32px;
     font-size: 28px;
     transition: 0.5s;
 }

 .social_icon a:hover {
     color: rgb(4, 113, 97);
     font-size: 27px;
     transform: scale(1.1);
 }

 .home_info .experienc  {
 display: flex;
 align-items: center;
 justify-content: space-between;
padding-top: 50px;

}
 .home_info .experienc .my_exp {
margin-right: 40px;
}
 .home_info .experienc .my_exp i{
 color: rgb(84, 153, 113);
 font-size: 30px;
 letter-spacing: 5px;
}
 .home_info .experienc .my_exp span{
 color: white;
font-size: 20px;
font-weight: 600;
padding-left: 3px;
letter-spacing: 2px;
}

 .home_img img {
     width: 100%;
     height: 100vh;
     margin-bottom: 20px;
     border-bottom: 1px solid var(--primary-colr);
     border-radius: 40%;
 }





 /*  SUBPAGE ABOUT*/


 /*ABOUT ME*/
 #About {
     display: flex;
     align-items: center;
     justify-content: space-around;
     background-color: aliceblue;
     flex-wrap: wrap;
 }

 #About .image_about img {
     width: 100%;
     height: 80vh;
 }

 #About .about_me {
     background-color: rgb(240, 255, 255);
     border-radius: 8px;
     box-shadow: 0 0 10px rgb(95, 225, 181);
 }

 #About .about_me h1 {
     font-size: 35px;
     padding-left: 10Px;
 }

 #About .about_me p {
     font-size: 25px;
     padding-left: 15Px;
     padding-top: 20px;
     color: var(--hover-color2);
 }

 #About .about_me p span {
     font-size: 25px;
     font-weight: bolder;
     color: rgb(0, 255, 204);
 }

 /*EDUCATION BANNER*/
 #Education_banner {
     text-align: center;
     background-color: var(--primary-colr);
     height: 200px;
 }

 #Education_banner h1 {
     font-size: 30px;
     color: white;
     padding-top: 15px;
 }

 #Education_banner p {
     font-size: 26px;
     color: var(--hover-color2);
 }

 #Education_banner p span {
     font-size: 26px;
     color: white;
     font-weight: bolder;
 }

 #Education_banner button {
     font-size: 20px;
     width: 160px;
     height: 40px;
     color: white;
     background-color: rgb(110, 251, 194);
     border: 1px solid rgb(110, 251, 194);
     border-radius: 10px;
     transition: 0.4s;
     cursor: pointer;
 }

 #Education_banner button:hover {
     font-size: 22px;
     color: rgb(110, 251, 194);
     background-color:aliceblue;
     border: 2px solid rgb(110, 251, 194);
     transform: scale(0.5s);
 }


 /*  MY EDUCATION CARDS*/

 #Education {
     display: flex;
     align-items: center;
     justify-content: space-around;
     background-color: aliceblue;
     flex-wrap: wrap;
     margin: 30px;
     padding: 40px;
 }

 #Education .education_card {
     margin-right: 20px;
     margin-top: 20px;
     margin-left: 10px;
     background-color: azure;
     border-radius: 10px;
     text-align: center;
     transition: 0.5;
     cursor: pointer;
     box-shadow: 0 0 5px rgba(0, 0, 0 ,0.5);
 }

 #Education .education_card:hover {
     background-color: var(--primary-colr);
     color: aliceblue;
     filter: drop-shadow(0 0 10px rgb(9, 197, 178));
     transform: scale(1.1);
 }

 #Education .education_card i {
     color: var(--hover-color2);
     padding-top: 15px;
     font-size: 30px;
 }

 #Education .education_card h2 {
     color: var(--hover-color2);
     padding-top: 15px;
     font-size: 20px;
     letter-spacing: 2px;
 }

 #Education .education_card h3 {
     font-size: 18px;
     text-decoration-line: underline;
 }

/*SKILLS*/
  /*skills header*/
#skills .head_skills{
text-align: center;
}
#skills .head_skills h1{
font-size: 35px;
letter-spacing: 5px;
padding-top: 20px;
}
#skills .head_skills h1 span{
font-size: 35px;
letter-spacing: 7px;

}
#skills .head_skills h3{
font-size: 24px;
letter-spacing: 5px;
}


/*skills contanair / technique skills / social skills */
.skills_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

/*socail & technical skills cards ///////// I used one name (tech_skills) to both cards to shoorten the code ////  */
.tech_skills {
   background-color: aliceblue;
   width: 500px;
   height: 300px;
   border-radius: 6px;
   transition: 0.6s;
   margin-top: 40px;
   cursor: pointer;
  filter: drop-shadow(0 0 5px var(--primary-colr));
}
.tech_skills:hover{
   background-color:rgb(207, 247, 227);
   transform: scale(1.03);
}
.tech_skills h2{
    font-size: 25px;
    letter-spacing: 4px;
    text-align: center;
}

/* Languages and social skills (name ,proogress , porsentage) */
.lang_skills{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 15px;
}

/*(name ,proogress , porsentage)*/

/*(Name of skills )*/
.lang_skills .lang_name {
    font-size:16px ;
    font-weight: 600;
    letter-spacing: 2px;
    padding-left: 12px;
}
/*(Porsentage % of skills )*/
.lang_skills .persentage {
    font-size:16px ;
    font-weight: 600;
    letter-spacing: 2px;
    padding-right: 12px;
}
/*(Proogress of skills )*/

/*(OUTSIDE Proogress  )*/
.range {
   
   border: 1px solid var(--primary-colr);
   width: 100%;
   height: 10px;
   overflow: hidden;
   border-radius: 6px;
   margin-left: 12px;
   margin-right: 12px;
}

/*(INSIDE Proogress  )*/
.range .tape {
  background-color:var(--primary-colr);
   height: 10px;
   border-radius: 6px;
}
 

 /*SERVICES PAGE*/
 
 
 #services h1{
    text-align: center;
    font-size: 36px;
    letter-spacing: 3px;
   margin-top: 50px;
 }
 #services h1 span{
   letter-spacing: 4px;
 }
 #services .serv_p {
   text-align: center;
   font-size: 22px;
 }

 /*SERVICES Card*/
#services .services_card{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
   justify-content: space-between;
   padding: 40px  50px;
   border-radius: 12px;
}



.services_card .services_info {
   text-align: center;
   background-color: aliceblue;
   border-radius: 5px;
  padding-top: 16px;
  transition: 0.5s;
  cursor: pointer;
  filter: drop-shadow(0 0 5px var(--primary-colr));
 
}
.services_card .services_info:hover {
 color: aliceblue;
 background-color: var(--primary-colr);
 filter: drop-shadow(0 0 10px rgb(9, 197, 178));
 transform: scale(1.03);
}
.services_card .services_info i {
color: var(--hover-color2);
font-size: 26px;
}
.services_card .services_info h2 {
color: var(--hover-color2);
font-size: 22px;
letter-spacing: 2px;
}
.services_card .services_info p {
font-size: 18px;
}
.services_card .services_info button {
font-size: 18px;
margin-bottom: 15px;
height: 40px;
width: 150px;
border: 1px solid aliceblue;
border-radius: 6px;
color: aliceblue;
background-color: var(--primary-colr);
transition: 0.5s;
cursor: pointer;
}
.services_card .services_info button:hover{
border: 1px solid var(--primary-colr);
color: var(--primary-colr);
background-color: aliceblue;
transform: rotate(1.2);
}




#services_banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    background-color: aliceblue;
    
}
#services_banner .Thanks_img img{
  width: 100%;
  height: 100vh;
}
#services_banner .banner_info{
  text-align: center;
  padding-right: 35px;
}
#services_banner .banner_info p{
font-size: 24px;
font-weight:bold;
letter-spacing: 2px;
color: var(--primary-colr);
}

#services_banner .banner_info a button{
    font-size: 18px;
    margin-bottom: 15px;
    height: 40px;
    width: 150px;
    border: 1px solid aliceblue;
    border-radius: 6px;
    color: aliceblue;
    background-color: var(--primary-colr);
    transition: 0.5s;
    margin-top: 30px;
    cursor: pointer;
}

#services_banner .banner_info a button:hover{
    border: 1px solid var(--primary-colr);
    color: var(--primary-colr);
    background-color: aliceblue;
    transform: rotate(1.2);
}





/*PROJECT SECTION*/

/*Head Project*/
.head_project{
    text-align: center;
    margin-top: 40px;
}
.head_project h1{
    font-size: 38px;
    letter-spacing: 4px;
 }
  .head_project h1 span{
    letter-spacing: 5px;
 }
  .head_project p{
    font-size: 24px;
    letter-spacing: 2px;
 }
  
 /*my all projects*/
 .my_projects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    height: auto;
 }

 
 
 .project_info img{
    width: 330px;
    height: 250px;
    border-radius: 8px;
    filter: drop-shadow(0 0 10px rgb(9, 197, 178) );
   
 }
 
 /*short description to projects*/
 .project_info .description{
   text-align: center;
   position: relative;
   bottom: 33vh;
   color: rgb(6, 248, 151);
   filter: drop-shadow(0 0 10px rgb(9, 197, 178) );
   background-color: rgba(57, 62, 66, 0.5);
   opacity: 0;
   border-radius: 15px;
   cursor: pointer;
   transition: opacity 0.7s, transform 0.3s; 

 }
 .project_info .description:hover{
   opacity: 1;
   transform: scale(1.01);
   
 }
/*description editing*/
.description h2{
    font-size: 25px;
    font-weight: 600;
}
.description p{
    letter-spacing: 2px;
    margin-bottom: 22px;
}
.description a {
    padding-left: 20px;
    font-size: 22px;
    color: aliceblue;
    text-decoration: none;
    margin-bottom: 12px;
}
.description a:hover{
     color: rgb(6, 248, 151);
}

/* icon link to GitHub repository with a short hint*/
.GitHub{
  position: relative;
  display: inline-block;
}
.description  .GitHub a .show_text{
    position: absolute;
    bottom: 80%;
    right: 50%;
    padding: 3px;
    margin-bottom: 3px;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
    background-color: rgba(68, 74, 80, 0.5);     
    border-radius:0 8px 0 8px;
    box-shadow: 0 4px 6px rgb(0, 255, 204);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s;
}
.description .GitHub a:hover .show_text{
    opacity: 1;
}

/* icon Eye link to outside page to show projects details with a short hint*/
.Eye{
  position: relative;
  display: inline-block;
}
.description  .Eye a .show_text{
    position: absolute;
    bottom: 80%;
    left: 80%;
    padding: 3px;
    padding-top: 2px;
    margin-bottom: 4px;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    color: aliceblue;
    background-color: rgba(68, 74, 80, 0.5);  ;
    border-radius:8px 0 8px 0;
    box-shadow: 0 4px 6px rgb(0, 255, 204);
    pointer-events: none;
    opacity: 0;
}
.description .Eye a:hover .show_text{
    opacity: 1;
}
 
/*WHATS NEXT PROJECTS*/

#next_projects .next_head{
    text-align: center;
}
 .next_head h1{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
}
 .next_head h1 span{
    font-size: 38px;
    letter-spacing: 4px;
    color: var(--primary-colr);
}

.whats_next{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom:1px solid var(--primary-colr) ;
  
}
.whats_next .next_img img{
  width: 80%;
  height: 70vh;

}

 .next_description p{
  font-size: 24px;
  font-weight: 600;
 
 }

 /* newsletter subscribe  Form */
 .Newsllater_sub{
display: flex;
align-items: center;
justify-content: space-around;
transition: 0.6s;
 
 }
 .newsletters_img img {
    width: 80%;
    height: 70vh;
 }
.news_form{
    background-color: aliceblue;
    box-shadow:  0 4px 6px var(--primary-colr);
    border-radius: 12px;
}
.news_form h2{
 text-align: center;
 padding: 10px;
 font-size: 20px;
 letter-spacing: 2px;
}
.form h2{
 text-align: center;
 padding: 5px;
 font-size: 22px;
 font-weight: bold;
 letter-spacing: 2px;
 color: var(--primary-colr);
}


.news_input label {
font-size: 18px;
letter-spacing: 3px;
}
.news_input input {
border: none;
outline: none;
border-bottom: 1px solid var(--primary-colr);
background-color: aliceblue;
margin-top: 25px;
width: 100%;
}
.news_input .name{
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
   padding: 15px;

}
.news_input .news_email{
   margin-top: 20px;
   padding: 15px;
}

.subscribe_btn{
    text-align: center;
}
.subscribe_btn button{
    margin: 20px;
    text-align: center;
    width: 200px;
    height: 35px;
    background-color: var(--primary-colr);
    color: aliceblue;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: 0.5S;
    cursor: pointer;
}
.subscribe_btn button:hover{

    border: 1px solid var(--primary-colr);
    background-color: aliceblue;
    color: var(--primary-colr);
   
}
 


/*CONTACT PAGE*/
#contact .contact_header{
    text-align: center;
    padding-top: 30px;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

 .contact_header  img{
  width: 70%;
  height: 70vh;
  margin-top: 50px;
  
}
 .contact_header h1{
   font-size: 38px;
   letter-spacing: 4px;
}
 .contact_header h1 span{
   letter-spacing: 5px;
}
 .contact_header p{
    font-size: 24px;
   letter-spacing: 3px;
}

/* contact card and Form*/
.contact_area{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: aliceblue;
    height: auto;
    width: auto;
    border-radius: 12px;
   
    margin: 100px 10% 40px 10%;
    padding: 40px;
}

/*contact card*/
.contact_card{
    background-color:var(--primary-colr);
    border-radius: 20px;
    
}
.contact_card h2{
   color: aliceblue;
   font-size: 20px;
   text-align: center;
   letter-spacing: 2px;
}
.contact_card h3{
   font-size: 20px;
   text-align: center;
}
.contact_card  i{
   color: aliceblue;
   font-size: 30px;
   font-weight: 800;
   padding-left: 15px;
   margin-top: 50px;
   margin-bottom: 10px;
}
.contact_card  span{
   color: aliceblue;
   font-size: 20px;
   padding-left: 15px;
 
}

/*Form contact*/
.contact_form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
}
 .contact_form  label {
  font-size: 18px;
  letter-spacing: 2px;
}
 .contact_form .inputs input {
   border: none;
   outline: none;
   padding-top: 20px;
   border-bottom: 1px solid black;
   background-color: aliceblue;
   width: 100%;
 
}
 .contact_form .inputs .name{
   display: flex;
   padding-right: 12px;
   
 }
  .name .first_name{
   padding-right: 40px;
 }
  .inputs .email_phone{
  margin-top: 30px;
 }
 .contact_form .text_area label{
    color: var(--hover-color2);
 }
  .contact_form textarea{
  border: none;
  outline: none;
  resize: none;
  background-color: aliceblue;
  border-bottom: 1px solid var(--primary-colr);
  width: 100%;
  height: 100px;
  margin-top: 12px;
 }
 .contact_form .button_contact{
  text-align: center;
 }
 .contact_form  button{
  width: 200px;
  height: 40px;
  color: aliceblue;
  font-size: 18px;
  background-color: var(--primary-colr);
  border: 1px solid aliceblue;
  border-radius: 8px;
  transition: 0.5s;
  cursor: pointer;
 }
 .contact_form  button:hover{
    color: var(--primary-colr);
    background-color: aliceblue;
    border: 1px solid  var(--primary-colr);
 }



  /* FOOTER*/
 
#footer_info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(208, 226, 217);
    flex-wrap: wrap;
}
/* pages part*/
#footer_info h1{
    margin-left: 12px;
}
#footer_info .pages h2{
   margin-left: 35px; 
   border-bottom: 2px solid black;
}
#footer_info .pages ul a{
    text-decoration: none;
    color: black;
}
#footer_info .pages ul  li{
    list-style: none;
    padding-top: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s; 
}
#footer_info .pages ul   li:hover{
    color:var(--footer-color);
    transform:translate(7px);
}

/*contact us part*/
#footer_info .contact_us h2{
    margin-left: 35px; 
    border-bottom: 2px solid black;
 }
 #footer_info .contact_us ul   li {
    list-style: none;
    padding-top: 10px;
    font-size: 18px;
    cursor: pointer;
 }
 #footer_info .contact_us ul a  {
    color: black;
    text-decoration: none;
    padding-top: 10px;
    transition: 0.4s;   
}

#footer_info .contact_us ul   a:hover{
    color:var(--footer-color);
    transform: translate(7px);
}
/*Follow us part*/
#footer_info .follow_us h2{
    margin-left: 35px; 
    border-bottom: 2px solid black;
 }
 #footer_info .follow_us a{
    color: black;
    margin-left: 30px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s; 
}
#footer_info .follow_us a:hover{
    color:var(--footer-color);
    transform: translate(8px);
}

/*Newslleter part*/
#footer_info .Newslatter {
    margin-right: 20px;
    margin-left: 35px; 
 }
#footer_info .Newslatter h2{
    border-bottom: 2px solid black;
    margin-bottom: 30px;
 }
#footer_info .Newslatter input{
    height: 35px;
    width: 200px;
    outline: none;
    border-radius: 5px 0 0 5px;
    border: 1px solid white;
    padding-left: 10px;
    transition: 0.4s;
 }
#footer_info .Newslatter input:hover{
    border: 1px solid var(--footer-color);
 }
#footer_info .Newslatter button{
    color: white;
    margin-left: 12px;
    border: 1px solid var(--footer-color);
    background-color: var(--footer-color);
    height: 37px;
    width: 100px;
    border-radius: 0 5px 5px 0;
    font-size: 17px;
    transition: 0.4s;
    cursor: pointer;
 }
#footer_info .Newslatter button:hover{
    color: var(--footer-color);
    border: 1px solid var(--footer-color);
    background-color: white;
    transform: scale(1.03);
 }
 #footer_info .copyright{
    padding-left: 15px;
 }




/*RESPONSIVE  MOBILE VERSION */

 @media screen and (max-width: 477px) {
    /*header*/
    #header{
        visibility: hidden;
    }
    /*home image*/
    #home  .home_img img{
       visibility: hidden;
   }
   /*home information*/
    #home .home_info {
     margin-left: 10px;
     margin-top: 150px;
     width: 100%;
      
    }
    #home .home_info h1 {
     font-size: 32px;
     padding-top: 16px;
    }
    #home .home_info span {
     font-size: 34px;
    }
    #home .home_info h2 {
     padding-bottom: 12px;
     font-size: 28px;
    }
    #home .home_info p {
     padding-bottom: 12px;
     font-size: 22px;
     font-weight: bold;
     color: aliceblue;
     letter-spacing: 1px;
     line-height: 30px;
    }
    #home .home_info span {
   
     font-size: 28px;
     font-weight: bold;
     color: rgb(4, 113, 97);
    }
    .home_info .social_icon{
      text-align: center;
    }
   .experienc{
    visibility: hidden;
   }

   /*about me section */
   .about_me{
    margin-top: 20px;
    background-color: rgb(133, 137, 140);
   }
   .about_me h1{
   text-align: center;
   letter-spacing: 2px;
   }
    /*education*/
   #Education .education_card{
    width: 100%;
    height: auto;
    margin: 15px;
    box-shadow: 0 0  10px rgba(0, 0, 0, 0.5);
   }
   #Education_banner button{
    bottom: 15px;
   }
   /*skills */
   .skills_container{
    flex-direction: column;
   }
   .tech_skills{
    width: 350px;
    box-shadow: 0 0  4px rgba(0, 0, 0, 0.4);
   }
    

   /*Services*/
   #services .services_card{
    grid-template-columns: 1fr;
    border-radius: 12px;
    box-shadow:  0 0 15px  rgba(6, 6, 6, 0.4);
   }
   #services .services_card .services_info{
    box-shadow:  0 0 10px  rgba(6, 6, 6, 0.5);
    border-radius: 14px;
}

/*services banner*/
   #services_banner{
  width: 100%;
}

#services_banner .Thanks_img img{
   visibility: hidden;
  }
#services_banner .banner_info{
   position: absolute;
   margin-left: 15px;
  }

/*PROJECTS*/
  .my_projects{
    flex-direction: column;
    
  }
  .project_info {
    height: 300px;
  }
 /*WHATS NEXT PROJECT*/

  #next_projects .whats_next .next_img img{
   visibility: hidden;
  }
  .next_description{
    position: absolute;
    text-align: center;
    margin-bottom: 20%;
    
  }
 
  /*Whas next /Newsletter subscribe Form */
  .Newsllater_sub:hover{
   transform: scale(1.01);
   
  }
  
  .Newsllater_sub .newsletters_img img{
    visibility: hidden;
  }
  .Newsllater_sub .news_form{
    position: absolute;
    width: 95%;
    box-shadow:  0 10px 10px rgba(0, 0, 0 ,0.5);
  }
  .Newsllater_sub .news_form .news_input input {
   
    border-bottom: 1px solid black;
    }

    /*CONTACT*/
    #contact{
        width: 100%;
    }
    /*contact header*/
    #contact .contact_header img{
      visibility: hidden;
    }
    #contact .contact_header .contact-dis{
      position: absolute;
    }

    /*contact zone*/
    #contact .contact_area{
        width: 300px;
       margin: 20px;
       padding: 20px;
        align-items: center;
        box-shadow:  0 0 15px  rgba(6, 6, 6, 0.7);
    }
    /*contact my information  card & contact form */
    #contact .contact_area .contact_card{
     margin-bottom: 30px;
     align-items:start;
    }
    .contact_area .contact_card h2{
    font-size: 30px;
    }

    /*FOOTER*/
    #footer_info h1{
        visibility: hidden;
    }
    #footer_info .pages {
        position: absolute;
    }
    #footer_info .contact_us{
        margin-top: 150px;
    }
    #footer_info .Newslatter{
        margin-bottom: 40px;
    }

    
    

    /*MOBILE HEADER*/
    #mobile{
        opacity: 1;
    }
    /*mobile navbar*/
   #mobile .navbar_mobile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    background-color: rgb(53, 60, 60);
    border-radius: 12px;
    position: fixed;
    z-index: 1;
   }
  .navbar_mobile .logo_mobile img{
   width: 48px;
   height: 48px;
  }
  .navbar_mobile .nav_mobile_icon a{
    padding-left: 12px;
    text-decoration: none;
  }
  .navbar_mobile .nav_mobile_icon i{
    font-size: 30px;
    color: black;
    background-color: aliceblue;
  border-radius: 12px;
    padding: 4px;
    margin-top: 5px;
   
  }
  .navbar_mobile .nav_mobile_icon a img{
   width: 30px;
   height: 30px;
  padding: 5px;
  background-color: aliceblue;
  border-radius: 12px;
  margin-top: 5px;
  }
  .navbar_mobile .nav_mobile_icon span{
   padding-left: 15px;
   transition: 0.4s;
  }
 
   .nav_mobile_icon  a span:hover,
     a span.activ{
  color: aliceblue;
 
  }
  
    
}